body {
    margin: 0;
}

/* All wrapper */
.wrap-all {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background: white;
    margin-top: 100px;
}

/* Head Wrapper */
.site-header {

    background-color: #0E0E0E;
    margin-bottom: 100px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 100px;
    border-bottom: solid 1px white;
}

/* Footer Wrapper */
.site-footer {

    background-color: #09093b;
    height: 200px;
    text-align: center;
    width: 100%;

}

section {
    border: 2px solid #ccc;
  box-sizing: border-box;
  flex: 0 0 100%;
  margin: 0 1% 10px;
  padding: 10px;
  text-align: center;
  height:100%;
}
/* Main wrapper */
.main {
    background-color: #1a1a59;
        border: 1px solid;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        min-height: 1000px;
        opacity: 0.9;
        text-align: center;
        width:100%;
        color: white;
}
/* Byline */
.site-byline {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #09093b;
    border: medium solid;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width:1050px;
    margin-bottom: 60px;
}

.site-byline h1 {
    color: #aa8e39;
    float: right;
    font-family: Candal,sans-serif;
    margin-bottom: 24px;
    margin-right: 120px;
    margin-top: 24px;
}

.site-byline p {
    color: rgb(255,234,170);
    float: right;
    margin-right: 30px;
    font-family: 'Raleway', sans-serif;
    margin-top: 24px;
    margin-bottom: 24px;
}

.site-byline a {
    clear: right;
    float: right;
    font-family: Raleway,sans-serif;
    margin-right: 120px;

}

.figure {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    display: block;
    float:left;
    position:absolute;
}


/* Font style */

.site-header h1 {
    float: left;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 25px;
}
.site-footer h1 {
    font-size: 50px;
}
p {
    color: rgb(255,234,170);
    font-family: 'Raleway', sans-serif;
    margin-top: 24px;
    margin-bottom: 24px;
}

h1, h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 2em;
    font-family: 'Candal', sans-serif;

    color: rgb(170,142,57);
}
h3 {
    font-size: 1.25em;
    font-family: 'Candal', sans-serif;
    color: rgb(170,142,57);
}

a {
    color: orange;
}
code {
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    display: inline;
    margin: 0 0.15em;
    padding: 0 0.3em;
    white-space: nowrap;
    color:#d14;
}
li {
    color:black;
}

/*Thrown in for textfilter*/
.text {
    border: 1px solid #eee;
    font-size: 16px;
    min-height: 5em;
    width: 30em;
}

.container {

        background: #fff none repeat scroll 0 0;
        border: 1px solid #ccc;
        box-sizing: border-box;
        flex: 0 0 90%;
        margin: 0 1% 10px;
        padding: 10px;
        height: 100%;
        min-height:500px;
        color:black;

    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }


    .flex-container h3 {
        color:black;
    }
    .flex-container p {
        color:black;
    }
    /* Media queries for .widget */
    @media (min-width: 500px) {
        .container {
            flex: 0 0 48.0%;
        }
    }
