body {
    margin: 0;
}

/* All wrapper */
.wrap-all {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background: #072B83;
    margin-top: 100px;
}

/* Head Wrapper */
.site-header {

    background-color: #09093b;
    margin-bottom: 100px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 105px;
}

/* Footer Wrapper */
.site-footer {

    background-color: #09093b;
    height: 200px;
    text-align: center;
    width: 100%;

}

/* Main wrapper */
.main {
    background-color: #1a1a59;
        border: 1px solid;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: auto;
        margin-right: auto;
        max-width: 1050px;
        min-height: 1000px;
        opacity: 0.9;
        text-align: center;
        width:100%;
}
/* Byline */
.site-byline {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #09093b;
    border: medium solid;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
    margin-bottom: 60px;
}

.site-byline h1 {
    color: #aa8e39;
    float: right;
    font-family: Candal,sans-serif;
    margin-bottom: 24px;
    margin-right: 120px;
    margin-top: 24px;
}

.site-byline p {
    color: rgb(255,234,170);
    float: right;
    margin-right: 30px;
    font-family: 'Raleway', sans-serif;
    margin-top: 24px;
    margin-bottom: 24px;
}

.site-byline a {
    clear: right;
    float: right;
    font-family: Raleway,sans-serif;
    margin-right: 120px;

}

.figure {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    display: block;
    float:left;
    position:absolute;
}


/* Font style */
.site-header h1 {
    font-size: 35px;
    margin-bottom: 0;
    margin-top:0;
}
.site-footer h1 {
    font-size: 50px;
}
p {
    color: rgb(255,234,170);
    font-family: 'Raleway', sans-serif;
    margin-top: 24px;
    margin-bottom: 24px;
}

h1, h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 2em;
    font-family: 'Candal', sans-serif;

    color: rgb(170,142,57);
}
h3 {
    font-size: 1.25em;
    font-family: 'Candal', sans-serif;
    color: rgb(170,142,57);
}

a {
    color: orange;
}
